$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import '/Users/kevinpie/wdi/projects/tic-tac/ticky-tacky/assets/styles/colors';

h1 {
  font-size: 100px;
}
header {
  color: $text-color;
  font-family: copperplate;
  font-size: 1000px;
  margin-top: 20px;
  text-align: center;
}

h1 {
  color: $text-color;
}

.table {
  vertical-align: top;
  display: inline-block;
  width: 500px;


}


.sq {
  height: 150px;
  width: 150px;
}

.scoreboard {
  color: $text-color;
  font-family: copperplate;
  font-size: 20px;
  text-align: center;
  padding-bottom: 10px;
  border: 3px solid $text-color;
  float: bottom;
  margin-left: 20px;
}

#victory {
  color: $text-color;
  font-family: copperplate;
  font-size: 40px;
  text-align: center;
}

.i {
  border-left: 10px solid !important;
  border-right: 10px solid !important;
  margin: 0 auto;
}

.j {
  border-bottom: 10px solid !important;
  border-top: 10px solid !important;
}

body {
  background-color: $background-color !important;
}

td {
  border-top: none !important;
  margin: 0 auto;
}

table {
  cursor: crosshair;
  color: $text-color;
  font-family: copperplate;
  font-size: 100px;
  text-align: center;
  position: absolute;
  margin: 0 auto;
}

#board {
  margin: 0 auto;
  width: 100;
}
