$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
// @import 'ticky-tacky/assets/styles/colors';
header {
  font-family: copperplate;
  font-size: 50px;
  margin-top: 20px;
  padding-bottom: 50px;
  text-align: center;
}

.table {
  margin-left: 30%;
  margin-right: 30%;
  width: 40%;
}

.sq {
  height: 150px;
  width: 150px;
}

.i {
  border-left: 10px solid;
  border-right: 10px solid;
}

.j {
  border-bottom: 10px solid;
  border-top: 10px solid;
}

table {
  font-family: copperplate;
  font-size: 100px;
  text-align: center;
}

.scoreboard {
  font-family: copperplate;
  font-size: 20px;
  text-align: center;
}

.winner {
  font-family: copperplate;
  font-size: 20px;
  text-align: center;
}
